:css
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
  }
  #map {
    width: 100%;
    height: 100%;
  }
  #pano {
    display: none;
  }
  #buttoncontainer {
    z-index: 5;
    position: fixed;
    top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  .button:hover, .button:focus{
    background-color: rgba(57,150,48,0.50);
  }
  #waitingForGedot {
    background: url("/images/loader.svg") no-repeat scroll center center rgba(255,255,255,0.7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    display: none;
  }
  .button {
    margin: 10px;
    pointer-events:auto;
    padding:0px 10px;
    cursor:pointer;
    background:rgba(53,177,40,0.5);
    border:1px solid rgba(51,132,42,0.50);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color:rgba(255,255,255,0.5);
    font-size:2em;
  }
