:javascript
  var panorama, map, panoramaOptions, panorama2;
  var updateTimer = null, ptrIdx = 0, locations = [];

  function nextLocation(callback) {
    $('#waitingForGedot').fadeIn(500);

    ptrIdx = ( ptrIdx + 1 ) % locations.length;

    var data = locations[ptrIdx];
    map.setCenter( data.location )
    panorama2.setPano(data.id)
    panorama2.setPov(data.pov)
    panorama2.setZoom(0)

    if ( callback ) callback();
  }

  function initializeLocations() {
    $.get( "/locations.json", function(data){
       locations = data.data;
       ptrIdx = Math.floor(Math.random() * locations.length);
       $('.button').show()
     }).fail(function() {
       setTimeout(initializeLocations, 3000);
     });
  }

  function startTravels() {
    if ( updateTimer ) {
      return;
    }
    ptrIdx = Math.floor(Math.random() * locations.length);
    $('#playbutton').hide();
    $('#stopbutton').show();
    nextSun()
  }

  function stopTravels() {
    if ( updateTimer !== null ) {
      clearTimeout( updateTimer );
      updateTimer = null;
      $('#playbutton').show();
      $('#stopbutton').hide();
    }
  }

  function nextSun() {
    nextLocation(function() {
      updateTimer = setTimeout(nextSun, 5000);
    });
  }

  function forward() {
    stopTravels();
    nextLocation(null);
  }

  function backward() {
    stopTravels();
    ptrIdx = ptrIdx - 1;
    if ( ptrIdx < 0 ) { ptrIdx = locations.length-1; }
    ptrIdx = ptrIdx - 1;
    if ( ptrIdx < 0 ) { ptrIdx = locations.length-1; }
    nextLocation(null);
  }

  function initialize() {
    $('.button').hide()
    google.maps.streetViewViewer = 'photosphere';
    initializeLocations();

    var start = #{@start['location'].to_json};

    panoramaOptions = {
      position: start,
      mode: 'webgl',
      clickToGo: true,
      pov: #{@start['pov'].to_json},
      zoom: 0,
      pano: "#{@start['id']}",
      linksControl: true,
      rotateControl: true,
      enableCloseButton: false,
      showRoadLabels: false,
      disableDefaultUI: false,
      addressControl: true,
      addressControlOptions: {
          position: google.maps.ControlPosition.LEFT_BOTTOM
      },
      panControl: true,
      panControlOptions: {
          position: google.maps.ControlPosition.RIGHT_BOTTOM
      },
      zoomControl: true,
      zoomControlOptions:{
          position:google.maps.ControlPosition.RIGHT_BOTTOM
      },
      motionTracking: false,
      motionTrackingControl: true,
      motionTrackingControlOptions:{
          position:google.maps.ControlPosition.TOP_RIGHT
      },
      fullscreenControl: false,
    };

    // This setup, taken from:
    //   https://developers.google.com/maps/documentation/javascript/examples/streetview-overlays
    map = new google.maps.Map(document.getElementById('map'), {
      center: start,
      zoom: 14,
      streetViewControl: false,
    });
    panorama = map.getStreetView();
    panorama.setOptions(panoramaOptions);
    panorama.setVisible(true);

    // Why this is done, read this:
    //    https://issuetracker.google.com/issues/35825559#comment216
    panorama2 = new google.maps.StreetViewPanorama(
                      document.getElementById('pano'), panoramaOptions);
    google.maps.event.addListener(panorama2, "pano_changed", function() {
      if ( !(panorama2.getPano().match(/F:/)) ) {
        panorama.setPano( panorama2.getPano() );
        panorama.setPov(panorama2.getPov())
        panorama.setZoom(0)
        $('#waitingForGedot').fadeOut(500);
      }
    });
  }
